[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = git@github.com:eduardo-rdguez/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = git@github.com:eduardo-rdguez/eduardo-rdguez.github.io.git
